#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
artifacts

##############
# IDE config #
##############

.idea/
.vscode/
