#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
artifacts
RapidYencSharp/runtimes/
rapidyenc/build/
__pycache__/
*.pyc

##############
# IDE config #
##############

.idea/
.vscode/
